*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    margin: auto;
    margin-top: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

header{
    background-color: black;
    color: #fff;
    padding: 20px;
	margin-bottom: 20px;
	width: 70%;

    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav{
    background-color: orangered;
    padding: 20px;
	margin-bottom: 20px;
	width: 30%;

    display: flex;
	align-items: center;
	justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px;
}

.a1{
    color: aqua;
}

main{
    background-color: white;
    padding: 20px;
    width: 70%;
}

aside{
    background-color: orangered;
    padding: 20px;
    width: 30%;   
}

footer{
    background-color: black;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white


}

footer .RRSS{
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    display: flex;

}

footer .RRSS p{
    padding: 10px;
}
